<!-- New Student -->
<div class="row">
    <div class="col-12">
        <h1>Cadastro de Alunos</h1>
        <hr>
        <label for="">Nome do Aluno</label>
        <input type="text" class="form-control mb-2" #studentNameInput>
        <label for="">Observacao</label>
        <!--<input type="text" class="form-control" [(ngModel)]="newStudentDescription">-->
        <input type="text" class="form-control" #studentDescriptionInput>
        <br>
        <button class="btn btn-success me-2" (click)="addApproved(studentNameInput)">Adicionar Aprovado</button>
        <button class="btn btn-secondary" (click)="addSubstitute(studentNameInput)">Adicionar Suplente</button>
    </div>
</div>